@using Microsoft.AspNetCore.Identity
@using System.Web

@model BlueRecandy.Models.Product
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = @Model.Name;
}

<div class="container mt-4 pt-4">
    <div class="row">
        <div class="col-6 border-bottom">
            <h5>@Model.Name</h5>
            <p>by @Model.Owner.UserName</p>
        </div>
        <div class="col-3">
            @{
                var user = await UserManager.GetUserAsync(User);

                bool isSignedIn = SignInManager.IsSignedIn(User);
                if (!isSignedIn)
                {
                    <a class="btn btn-success">Purchase</a>
                }
                else
                {
                    bool isOwner = Model.OwnerId == user.Id;
                    if (isOwner)
                    {
                        <a class="btn btn-success">Download</a>
                    }
                    else
                    {
                        if (user.PurchaseLogs == null)
                        {
                            <a class="btn btn-success">Purchase</a>
                        }
                        else
                        {
                            PurchaseLog? log = user.PurchaseLogs.Find(x => x.ProductId == Model.Id);
                            if (log != null)
                            {
                                <a class="btn btn-success">Download</a>
                            }
                            else
                            {
                                <a class="btn btn-success">Purchase</a>
                            }
                        }
                    }
                }
                
            }
        </div>
    </div>

    <div class="mt-4">
        <p>
            @Model.Description
        </p>
    </div>
</div>