
@using Microsoft.AspNetCore.Mvc.Localization
@model Views_Home_Index
@inject IViewLocalizer T
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@T["Welcome"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
