@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions

@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = x.Name }).ToList();
}

<div>
    <form>
        <select name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList"></select>
    </form>
</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
